<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home pagina</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="assets/icon.png" type="image/icon type">
</head>

<body>

    <header>
        <%- include('nav.ejs') %>
    </header>
    <main class="error">
        <h1 class="error">Oeps er liep iets mis</h1>
        <a href="/home">Naar de home pagina</a>
    </main>
    <footer>
        <%- include('footer.ejs') %>
    </footer>