<!DOCTYPE html>
<html lang="nl-BE">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/landingpagina.css" />
    <title>landigpagina</title>
    <link rel="icon" href="assets/icon.png" type="image/icon type">
</head>

<body>
    <script>
        function error(){
            alert("Geen toegang tot deze activitiet");
        }
    </script>
    <div class="container">
        <div class="product-grid">
            <div class="foto">
               <a href="/home">
                    <img src="assets/first-single-volume-edition-of-the-lord-of-the-rings.gif"
                        alt="De eerste voledige volume van The Lord of the Rings." class="foto__img"
                        srcset="">
                    <h1>The One</h1>
                </a>
            </div>
            <div class="foto">
                <a href="#" onclick="error()">
                    <img src="assets/fifa-22.jpeg" alt="Een voetballer die lacht."  class="foto__img" srcset="">
                    <h1>FIFA</h1>
                </a>
            </div>
            <div class="foto">
                <a href="#" onclick="error()">
                    <img src="assets/fortnite.jpg" alt="Het logo van Fortnite."  class="foto__img" srcset="">
                    <h1>Fortnite</h1>
                </a>
            </div>
            <div class="foto">
                <a href="#" onclick="error()">
                    <img src="assets/lego-logo.png" alt="The logo van Lego."  class="foto__img" srcset="">
                    <h1>LegoMasters</h1>
                </a>
            </div>
            <div class="foto">
                <a href="#" onclick="error()">
                    <img src="assets/magic-the-gathering.jpg" alt="Boek van Magic-the Gathering."  class="foto__img" srcset="">
                    <h1>Magic the Gathering</h1>
                </a>
            </div>
            <div class="foto">
                <a href="#" onclick="error()">
                    <img src="assets/nationale-bank.png" alt="Het logo van de Nationale Bank van België."
                    class="foto__img" srcset="">
                    <h1>Nationale Bank</h1>
                </a>
            </div>
        </div>
    </div>
</body>